{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "esnext",
    "keepClassNames": true,
    "loose": false,
    "externalHelpers": true,
    "baseUrl": ".",
    "paths": {
      "@/*": ["src/*"]
    }
  },
  "module": {
    "type": "module",
    "strict": false,
    "strictMode": false,
    "noInterop": false
  },
  "minify": false,
  "sourceMaps": true,
  "inlineSourcesContent": false
}
